{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron about-div">
        <h1>What we are about!</h1>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores expedita neque dolor fugit velit, repellendus ullam ipsum quaerat dolore accusamus blanditiis. Repellat eos totam molestiae fugit aliquid neque! Eius, assumenda!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae doloremque, eos repellendus corrupti ab aut cumque animi debitis perferendis ratione minus expedita. Est, repudiandae saepe! Repellendus obcaecati iste illo tenetur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aut, recusandae eveniet porro quia quam amet voluptates! Quae nam, quo eos sapiente asperiores dolorum minus, perspiciatis doloremque eaque similique saepe!
    </div>
{% endblock content %}