{% extends "layout.html" %}
{% block content %}
    <div class="card-header"><i class="fas fa-table mr-1"></i>Get in touch with hostel managers now</div>
    <div class="card-body">
        <div class="container-fluid table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">Hostel</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Cartaker's Number</th>
                        <th class="text-center">Hostel E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hostel in hostels %}
                        <tr>
                            <td class="text-center">{{ hostel.name }} Hostel</td>
                            <td class="text-center">{{ hostel.cat }}</td>
                            <td class="text-center">{{ hostel.phone }}</td>
                            <td class="text-center">{{ hostel.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}