<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% if title %}
        <title>Hostel Management-{{ title }}</title>
        {% else %}
        <title>Hostel Management.com</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/framework.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/fontawesome-free/css/fontawesome-all.min.css') }}">
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
{#        Here should be breadcrums#}
            <a class="navbar-brand text-light float-left" href="{{ url_for('main.home') }}"><i class="fa fa-angle-double-left"></i>Go Home</a>
            <h3 class="text-center text-light">{{ current_hostel.name }}</h3>
            {% block search %}
<!--            Add search bar here-->
            {% endblock %}
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>

                            <a class="nav-link" href="{{ url_for('main.home') }}"
                                ><div class="sb-nav-link-icon"><i class="fas fa-home mr-2"></i></div>
                                Home</a>

                            <a class="nav-link" href="{{ url_for('main.about') }}"
                                ><div class="sb-nav-link-icon"><i class="fas fa-info mr-3"></i></div>
                                About us</a>

                            <a class="nav-link" href="{{ url_for('main.contact') }}"
                                ><div class="sb-nav-link-icon"><i class="fas fa-phone mr-2"></i></div>
                                Contact us</a>

                            <div class="sb-sidenav-menu-heading">Categories</div>
                            <a class="nav-link collapsed" href="{{ url_for('hostel.luxury') }}" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                                ><div class="sb-nav-link-icon"><i class="fas fa-columns mr-2"></i></div>
                                Luxury
                                <div class="sb-sidenav-collapse-arrow"></div
                            ></a>

                            <a class="nav-link collapsed" href="{{ url_for('hostel.comfort') }}" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                                ><div class="sb-nav-link-icon"><i class="fas fa-columns mr-2"></i></div>
                                Comfort
                                <div class="sb-sidenav-collapse-arrow"></div
                            ></a>

                            <a class="nav-link collapsed" href="{{ url_for('hostel.affordable') }}" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                                ><div class="sb-nav-link-icon"><i class="fas fa-columns mr-2"></i></div>
                                Affordable
                                <div class="sb-sidenav-collapse-arrow"></div
                            ></a>

                            <div class="sb-sidenav-menu-heading">Extra</div>

                            <a class="nav-link collapsed" href="{{ url_for('hostel.hostel_crud') }}" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                                ><div class="sb-nav-link-icon"><i class="fa fa-plus mr-2"></i></div>
                                Add A Hostel
                            </a>

                            <a class="nav-link collapsed" href="{{ url_for('logout') }}" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                                ><div class="sb-nav-link-icon"><i class="fa fa-exclamation-triangle mr-2"></i></div>
                                Log Out
                            </a>



                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth"
                                        >Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                                    ></a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="login.html">Login</a><a class="nav-link" href="register.html">Register</a><a class="nav-link" href="password.html">Forgot Password</a></nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError"
                                        >Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                                    ></a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="401.html">401 Page</a><a class="nav-link" href="404.html">404 Page</a><a class="nav-link" href="500.html">500 Page</a></nav>
                                    </div>
                                </nav>
                            </div>
<!--                            <div class="sb-sidenav-menu-heading">Addons</div>-->
<!--                            <a class="nav-link" href="charts.html"-->
<!--                                ><div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
<!--                                Charts</a-->
<!--                            ><a class="nav-link" href="tables.html"-->
<!--                                ><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>-->
<!--                                Tables</a-->
<!--                            >-->
<!--                        </div>-->
                    </div>
                    </div>
                </nav>
            </div>

            <div id="layoutSidenav_content">
                <main>
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} text-center">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endwith %}

                    <img src="{{ url_for('static',filename='/images/'+current_hostel.cat+'/'+current_hostel.image) }}"\
                                 alt="{{ current_hostel.name }} Banner" class="card-img" style="height: 500px;">

                    <div class="container">
                        <div class="card-body">
                        <nav id="mainav" class="w-75 mr-auto ml-auto border-bottom border-secondary">
                            <ul class="nav mt-lg-5">
                                <li class="nav-item"><a href="{{ url_for('hostel.info_posts', hostel_name=current_hostel.name) }}" class="nav-link">Info Posts</a></li>
                                <li class="nav-item"><a href="{{ url_for('hostel.gallery', hostel_name=current_hostel.name) }}" class="nav-link">Gallery</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">What's new?</a></li>
                                <li class="nav-item"><a href="{{ url_for('hostel.delete_hostel', hostel=current_hostel.name) }}" class="nav-link">Delete Hostel</a></li>
                                <li class="nav-item"><a href="{{ url_for('hostel.update_hostel', hostel=current_hostel.name) }}" class="nav-link">Update Hostel Info</a></li>
                            </ul>
                        </nav>
                        {% block content %}

                        {% endblock %}
                        </div>
                    </div>
                </main>


            </div>
        </div>
    </body>
</html>