{% extends 'layout.html' %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ upform.hidden_tag() }}
        <fieldset class="jumbotron mr-auto ml-auto w-50 mt-lg-5 overflow-hidden">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ upform.hostel_name(class='form-control ', placeholder='New Name') }}
                    {% if upform.hostel_name.errors %}
                        {{ upform.hostel_name(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in upform.hostel_name.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ upform.phone_number(class='form-control ', placeholder="Caretacker's New Phone") }}
                    {% if upform.phone_number.errors %}
                        {{ upform.phone_number(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in upform.phone_number.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ upform.price_range(class='form-control ', placeholder='What range is the New price?') }}
                    {% if upform.price_range.errors %}
                        {{ upform.price_range(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in upform.price_range.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <select name="condition" id="" class="form-control">
                        <option name="condition" value="">Add a current hostel condition</option>
                        <option name="condition" value="Flood Factor">Flood Factor</option>
                        <option name="condition" value="Noise Level">Noise Level</option>
                        <option name="condition" value="Sanitary Condition">Sanitary Condition</option>
                        <option name="condition" value="Tenant Behavoural Likeness">Tenant Behavoural Likeness</option>
                    </select>
                </div>

                <div class="form-group float-left">
                    {{ upform.hostel_picture()}}
                    {% if upform.hostel_picture.errors %}
                        {{ upform.hostel_picture(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in upform.hostel_picture.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
{#Use select field to choose the condition and intensity#}
            <div class="col-md-6">
                <div class="form-group">
                    {{ upform.location(class='form-control ', placeholder='Where is the New location?') }}
                    {% if upform.location.errors %}
                        {{ upform.location(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in upform.location.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ upform.distance(class='form-control ', placeholder=' New Distance from the campus') }}
                    {% if upform.distance.errors %}
                        {{ upform.distance(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in upform.distance.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ upform.cat(class='form-control ', placeholder='Hostel New Category') }}
                    {% if upform.cat.errors %}
                        {{ upform.cat(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in upform.cat.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <select name="Intensity" class="form-control">
                        <option name="Intensity" value="">Level of condition</option>
                        <option name="Intensity" value="Low">Low</option>
                        <option name="Intensity" value="Below Medium">Below Medium</option>
                        <option name="Intensity" value="Medium">Medium</option>
                        <option name="Intensity" value="Above Medium">Above Medium</option>
                        <option name="Intensity" value="High">High</option>
                        <option name="Intensity" value="High">High</option>
                        <option name="Intensity" value="Very High">Very High</option>
                    </select>
                </div>
            </div>
        </div>


            <br>
            <div class="form-group">
                {{ upform.submit(class='btn btn-outline-success float-left') }}
            </div>
            <div class="form-group">
{#                <a href="{{ url_for('') }}" class="btn"></a>#}
            </div>
        </fieldset>
    </form>
{% endblock %}