{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <h2 class="text-center">Description of the category of the hostel(Why it is called the category that it is.)</h2>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 h-75 shadow-sm overflow-hidden" style="height:500px;">
                    <br>
                      <div class="border-0" style="">
                          <img class="card-img-top" src="{{ url_for('static', filename='/images/luxury/'+ post.image) }}" alt="{{ post.image }}">

                          <div class="card-body">
                              <h1 class="card-title text-center">{{ post.name }} Hostel</h1>

                              <a href="{{ url_for('hostel.hostel_page', hostel_name=post.name) }}" class="btn btn-outline-primary">Go There</a>
                              <div class="small text-muted text-black-50">
                                  Caretaker's Number: {{ post.phone }}
                              </div>
                          </div>
                      </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}